<!-- chat/templates/chat/index.html -->
{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Chat Rooms</title>
</head>
<body>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Masukkan Nama Kamu</h5>
      </div>
      <div class="modal-body">
                <input id="room-name-input" class="w-100" type="text" ><br>

      </div>
      <div class="modal-footer">
            <input id="room-name-submit" class="btn btn-primary"type="button" value="Enter">
      </div>
    </div>
  </div>
</div>

    <script src="{%static 'js/bootstrap.bundle.min.js'%}" ></script>

    <script>
        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'))
        myModal.show()
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            if (roomName==''){roomName='anonymous'}
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>