<!-- chat/templates/chat/room.html -->
{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Chat Room</title>
</head>
<body>
<div class="text-center">
    <textarea id="chat-log" cols="100" rows="20" class="ms-auto"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">AFK?</h5>
      </div>
      <div class="modal-body">
      Masukkan nama kamu lagi:<br>
                <input id="room-name-input" class="w-100" type="text" ><br>

      </div>
      <div class="modal-footer">
            <input id="room-name-submit" class="btn btn-primary"type="button" value="Enter">
      </div>
    </div>
  </div>
</div>
    <script src="{%static 'js/bootstrap.bundle.min.js'%}" ></script>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.code==1)
                {user_id=data.message}
            else if (data.code==0)
                {document.querySelector('#chat-log').value += (data.sender+": "+data.message + '\n');}
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'code': 0,
                'sender': user_id,
                'message': message
            }));
            messageInputDom.value = '';
        };

        //---------------------------------------------------------AFK
        var timeoutInMiliseconds = 5000;
        var timeoutId; 
        
        function startTimer() { 
            // window.setTimeout returns an Id that can be used to start and stop a timer
            timeoutId = window.setTimeout(doInactive, timeoutInMiliseconds)
        }
        
        function doInactive() {
            // does whatever you need it to actually do - probably signs them out or stops polling the server for info
            console.log('AFK')
            var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'))
            myModal.show()
            chatSocket.send(JSON.stringify({
                'code': 1,
                'sender': user_id,
                'message': "CLOSE_SOCKET"
            }));
        }

        function resetTimer() { 
            window.clearTimeout(timeoutId)
            startTimer();
        }

        function setupTimers () {
            document.addEventListener("mousemove", resetTimer, false);
            document.addEventListener("mousedown", resetTimer, false);
            document.addEventListener("keypress", resetTimer, false);
            document.addEventListener("touchmove", resetTimer, false);
            
            startTimer();
        }
        setupTimers();

        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            if (roomName==''){roomName='anonymous'}
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>